@charset "UTF-8";

:root{
    --cor01: #084F8C;
    --cor02: #1081C7;
    --cor03: #1399CF;
    --cor04: #18ABCC;

    --fonte-padrao: Arial;
}

*{
    margin: 0%;
    padding: 0%;
}

p{
    font-family: var(--fonte-padrao);
}

header{
    background-color: var(--cor01);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

nav{
    display: flex;
    flex-wrap: wrap;
}

nav:hover{
    align-items: center;
}

header > nav > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    padding: 10px;
}

header > nav > a:hover{
    background-color: var(--cor04);
    padding: 10px;
    border-radius: 5px;
    color: var(--cor01);

}

@media(max-width:555px){
    nav{
        display: flex;
        flex-direction: column;
    }
}

section#bloco-apresentação{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.apresentação{
    width: 450px;
    height: 200px;
    background-color: var(--cor04);
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px;
    
}

.apresentação h2{
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    padding-bottom: 10px;
}

.apresentação p{
    padding: 10px;
    text-align: justify;
}

.apresentação  ul{
    columns: 2;
    margin-top: 15px;
    padding: 10px;
}

.apresentação li{
    list-style-position: inside;
    padding: 1px;
    font-size: 1.2em;
}

.apresentação a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.apresentação a:hover{
    color: var(--cor01);
    text-decoration: underline;
    font-size: 21px;
}

div#bloco-imagem{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 10px;
    background-color: var(--cor01);
    padding-top: 30px;
    padding-bottom: 30px;
}

.estilo-imagem{
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 3px;
    border-radius: 5px;
}

.estilo-imagem h3{
    text-align: center;
    padding-top: 190px;
    font-size: 2em;
}

.estilo-imagem p{
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
}

div#imagem-01{
    background-image: url(imagens/imagem003-400.jpg);
    width: 400px;
    height: 236px;
}

div#imagem-02{
    background-image: url(imagens/imagem001-400.jpg);
    width: 400px;
    height: 236px;
}

div#imagem-03{
    background-image: url(imagens/imagem002-400.jpg);
    width: 400px;
    height: 236px;
}

.bloco-link{
    display: flex;
    justify-content: space-around;
}

.alinhamento-link{
    background-color: var(--cor02);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.alinhamento-link:hover{
    color: black;
    background-color: var(--cor04);
}

footer{
    background-color: var(--cor02);
    margin-top: 30px;
}

section#bloco-rodape{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
}

footer > p{
    color: white;
    text-align: center;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover{
    color: var(--cor04);
    text-decoration: underline;
    font-size: 1.1em;
}

@media(max-width:780px){
    section#bloco-rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    img{
        margin-left: 25px;
    }

    #bloco-rede-social{
        display: flex;
        justify-content: center;
    }

    svg{
        padding-right: 10px;
    }
}
