@charset "UTF-8";

:root{
    --cor01: #084F8C;
    --cor02: #1081C7;
    --cor03: #1399CF;
    --cor04: #18ABCC;

    --fonte-padrao: Arial;
}

*{
    margin: 0%;
    padding: 0%;
}

p{
    font-family: var(--fonte-padrao);
}

header{
    background-color: var(--cor01);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

section#logo{
    display: flex;
    align-items: center;
}

header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding-right: 15px;
    font-family: var(--fonte-padrao);
}

header a:hover{
    background-color: var(--cor04);
    padding: 10px;
    border-radius: 5px;
    color: var(--cor01);
}

section#bloco-apresentação{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.apresentação{
    width: 500px;
    height: 180px;
    background-color: var(--cor04);
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px;
    
}

.apresentação h2{
    background-color: #1081C7;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    padding-bottom: 10px;
}

.apresentação p{
    padding: 10px;
    text-align: justify;
}

.apresentação  ul{
    columns: 2;
    margin-top: 15px;
    padding: 10px;
}

.apresentação li{
    list-style-position: inside;
    padding: 1px;
    font-size: 1.2em;
}

.apresentação a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.apresentação a:hover{
    color: var(--cor01);
    text-decoration: underline;
    font-size: 21px;
}

div#bloco-imagem{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 10px;
    background-color: var(--cor01);
    padding-top: 30px;
    padding-bottom: 30px;
}

.estilo-imagem{
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 3px;
    border-radius: 5px;
}

.estilo-imagem h3{
    text-align: center;
    padding-top: 190px;
    font-size: 2em;
}

.estilo-imagem p{
    padding: 20px;
    text-align: center;
}

div#imagem-01{
    background-image: url(imagens/imagem003-400.jpg);
    width: 400px;
    height: 236px;
}

div#imagem-02{
    background-image: url(imagens/imagem002-400.jpg);
    width: 400px;
    height: 236px;
}

div#imagem-03{
    background-image: url(imagens/imagem002-400.jpg);
    width: 400px;
    height: 236px;
}

.alinhamento-link{
    text-align: center;
    margin-top: 30px;
    background-color: var(--cor02);
    width: 200px;
    margin-left: 87px;
    padding: 10px;
    border-radius: 5px;
}

.alinhamento-link:hover{
    background-color: var(--cor04);
}

.alinhamento-link a{
    text-decoration: none;
    color: white;
}

.alinhamento-link a:hover{
    color: black;
}

footer{
    background-color: black;
    margin-top: 30px;
}

footer > p{
    color: white;
    text-align: center;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover{
    color: var(--cor04);
    text-decoration: underline;
    font-size: 1.1em;
}